<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <img src="/assets/img/rider.svg" alt="RiderSafe Logo" class="me-2"
            style="height: 64px; vertical-align: middle;">
        RiderSafe
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <li><a class="dropdown-item" href="/products/ridersafe-basic.html">RiderSafe Basic</a></li>
                        <li><a class="dropdown-item" href="/products/ridersafe-plus.html">RiderSafe Plus</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/soporte.html">Soporte</a>
                </li>
                <li class="nav-item" id="dashboardLink" style="display: none;">
                    <a class="nav-link" href="/dashboard/dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
                    <button class="btn btn-primary btn-sm" id="loginBtn">
                        <i class="bi bi-person-fill me-1"></i>Iniciar Sesión
                    </button>
                    <button class="btn btn-primary btn-sm" id="logoutBtn" style="display: none;">
                        <i class="bi bi-box-arrow-right me-1"></i>Cerrar Sesión
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>